@page "/Inscripciones"



<div class="container">

    <h3 class="display-4 text-center">Consulta de Inscripciones</h3>
    <p class="text-muted">@Mensaje</p>

    <div>

        @if (Lista.Count == 0)
        {
            <div class="text-center">
                <div class="spinner-border">
                    <span class="sr-only">Loading....</span>
                </div>
            </div>

        }
        else
        {
            <table class="table">

                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Semestre</th>
                        <th scope="col">Limite de credito</th>
                        <th scope="col">Creditos Tomados</th>
                        <th scope="col">Creditos Disponibles</th>
                        <th></th>
                        <th></th>
                    </tr>

                </thead>

                <tbody>
                    @foreach (var obj in Lista)
                    {
                        <tr>
                            <td scope="row">@obj.InscripcionId</td>
                            <td>@obj.Semestre</td>
                            <td>@obj.Limite</td>
                            <td>@obj.Tomados</td>
                            <td>@obj.Disponibles</td>
                            <td><a class="btn btn-sm btn-outline-primary" href="RInscripciones/@obj.InscripcionId">Editar</a></td>
                            <td><button type="button" class="btn btn-sm btn-outline-danger" @onclick="(()=> Eliminar(obj.InscripcionId))">Eliminar</button></td>

                        </tr>
                    }


                </tbody>

            </table>

        }


    </div>

</div>

@code {


    public IList<Inscripciones> Lista { get; set; }
    public string Mensaje { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Lista = new List<inscripcciones>();

        try
        {
            await Task.Run(() => { CargarLista(); });
        }
        catch (Exception)
        {

            Mensaje = "Hubo un Error!!";
        }


    }

    private void CargarLista()
    {
        Lista = InscripcionesControllers.GetList(A => true);
    }

    private void Eliminar(int Id)
    {
        try
        {
            if (Inscripcionescontrollers.Eliminar(Id))
            {
                CargarLista();
                Mensaje = string.Empty;
            }
            else
            {
                Mensaje = "No se pudo eliminar";
            }
        }
        catch (Exception)
        {

            Mensaje = "Hubo un Error!!!!";
        }
    }

}